body {
    background-color: #2a97f6;
  }
.app{
    background-color: white;
    min-height: 100vh;
    width: 400px;
    margin: 20px auto;
}
.container{
  display: flex;
  justify-content: center;

}
input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
ul,li{
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #35b9d0;
}
.btn-add {
  background: #35b9d0;
  margin-top: 5px;
}

.btn-delete {
  background: #d30100;
  margin-bottom: 5px;
}
.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
.imgOne{
  margin-top: 20px;
  margin-left: 20px;
}